<?xml version="1.0"?>
<model>
  <name>DAE Model Template</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Auto Generated</name>
    <email>auto@generated.com</email>
  </author>
  
  <description>
    Template for loading DAE mesh files in Gazebo
  </description>
</model>