<?xml version="1.0"?>
<model>
  <name>Field DAE Model</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Hunter SE Project</name>
    <email>hunter@project.com</email>
  </author>
  
  <description>
    Custom field model loaded from DAE file
  </description>
</model>